<label for="coupon_question">Do you have a coupon?</label>
<%= check_box_tag(:options) %>
<input type="text" name="coupon_field" id="coupon_field"/>

<%= form_for @option, :html => {:class => ""} do |f| %>
  <% if @option.errors.any? %>
    <div class="grid wrap">
      <div class="unit whole error">
        <h2><%= pluralize(@option.errors.count, "error") %> prohibited this option from being saved:</h2>
        <ul>
          <% @option.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="grid wrap no-gutters">
    <div class="unit whole field">
      <%= collection_select( :option, :id, @options, :id, :name, {:prompt => "Select an Option"} ) %>
    </div>
    <div class="unit whole field">
      <%= f.text_field :variant, :class => "variant", :id => "variant" %>
    </DIV>
  </div>
<% end %>