<h1>Products</h1>

<%= render 'form_add_to_cart' %>

<h1><%= @product.name %></h1>
<% @product.variants.each do |variant| %>
<ul>
  <li><%= variant.name %><%#= option.variants.map(&:name).join(", ") %></li>
  <li><%= variant.weight %></li>
  <li><%= variant.weight_uom %></li>
  <li><%= variant.price %></li>
  <li><%= human_boolean(variant.taxable) %></li>
</ul>
</br>
<% end %>


